{% extends 'plag/base.html' %}
{% block content %}
<h1>{{ course }}</h1>

<dl>
	<dt>Name: </dt>
	<dd>{{ course.name}}</dd>
	<dt>Class: </dt>
	<dd>{{ course.classe}}</dd>
	<dt>Professor: </dt>
	<dd>{{ course.professor}}</dd>
	<dt>Email: </dt>
	<dd>{{ course.email}}</dd>
	<dt>Semester: </dt>
	<dd>{{ course.year }}/{{ course.semester }}</dd>
</dl>

<h2>Assignments</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Assignment</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for a in course.assignment_set.all %}
		<tr>
			<td>{{ a }}</td>
			<td>
				{% if a.is_processed %}
				<a href="{% url 'report' a.id %}" class="btn btn-primary btn-sm" role="button">View Report</a> 
				{% else %}
				<a href="#" class="btn btn-primary btn-sm disabled" role="button">View Report</a> 
				{% endif %}
				<a href="{% url 'upload' a.id %}" class="btn btn-primary btn-sm" role="button">Upload</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<a href="{% url 'index' %}" class="btn btn-primary" role="button">Go back</a>
{% endblock %}
