{% extends 'plag/base.html' %}
{% block content %}
<h1>Uploading file for {{ assignment.course }} {{ assignment }}</h1>

{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}

<form action="{% url 'upload' assignment.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
        {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors }}</div>{% endif %}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <small id="uploadHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <input class="btn btn-primary" role="button" type="submit" value="Send">
</form>
<br/>
<a href="{% url 'course' assignment.course.id %}" class="btn btn-primary" role="button">Go back</a>
{% endblock %}
